// Font imports;

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

// Main colour scheme:

$bg: #1b2139;
$bg-section: #252a45;
$highlight: #4292c6;

// Colours for data:

$data1: #003f5c;
$data2: #2f4b7c;
$data3: #665191;
$data4: #a05195;
$data5: #d45087;
$data6: #f95d6a;
$data7: #ff7c43;
$data8: #ffa600;

*, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: $bg;
}

p, a{
    color: $highlight;
    text-align: center;
    font-size: large;
    font-family: 'Nunito';
}

p{
    margin-bottom: 75px;
    margin-left: 400px;
    margin-right: 400px;
}


.graph-section {
    background-color: $bg-section;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 45px; 
    margin-bottom:25px;   
}

.tick, .domain {
    stroke: $highlight;
    fill: $highlight;
}

line {
    stroke: $highlight;
}

.axis-label {
    fill: $highlight;
    font-family: 'Montserrat';
    font-weight: bolder;
}

#scatter-to-pie {
    padding-left: 5%;
    padding-bottom: 5%;
    h1{
        font-family: 'Montserrat';
        text-align: center;
        line-height: 100px;
        color: $highlight;
    }
    .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #pieChart {
        margin-left: 10%;
        padding-top: 55px;
    }
}

#map-to-spider {
    padding-left: 5%;
    padding-right: 5%;
    
    h1{
        font-family: 'Montserrat';
        text-align: center;
        line-height: 100px;
        color: $highlight;
    }
    .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #spider {
        margin-left: 10%;
        margin-top: 110px;
    }
}

#tree-to-sunburst-to-packlayout {
    width: 90%;

    h1{
        font-family: 'Montserrat';
        text-align: center;
        line-height: 100px;
        color: $highlight;
    }
    .wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

#agglomerative-clustering {
    padding-left: 5%;
    padding-right: 5%;
    
    h1{
        font-family: 'Montserrat';
        text-align: center;
        line-height: 100px;
        color: $highlight;
    }
}

#other-graphs {
    padding-left: 5%;
    padding-right: 5%;
    
    h1{
        font-family: 'Montserrat';
        text-align: center;
        line-height: 100px;
        color: $highlight;
    }
    .wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

#stackedBarChart-display {
    padding-left: 5%;
    padding-right: 5%;
    
    h1{
        font-family: 'Montserrat';
        text-align: center;
        line-height: 100px;
        color: $highlight;
    }

    .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.tooltip {
    background: lightblue;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 12px
}
