$primary: #0275d8;
$green: #5cb85c;
$red: #d9534f;
$background: #f7f7f7;

.graph {
    padding: 20px;
    margin: 10px 25px;
    background-color: $background;
}

.center {
    text-align: center;
}

button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease 0s;
    color: white;
    font-weight: bold;
}

button:hover{
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.delete {
    background-color: $red;
}

.create {
    background-color: $green;
}

.update {
    background-color: $primary;
}