@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

// $nav-bg: #383c4a;
// $gray: #7c818c;
// $light: #f7f7f7;
// $blue-hl: #4292c6;
// $change-increase: #009900;
// $change-decrease: #b20000;

// *, body {
//     padding: 0;
//     margin: 0;
//     font-family: 'Nunito', sans-serif;
// }

// body {
//     background-color: $gray;
// }

// .left-nav {
//     height: 100%;
//     width: 80px;
//     position: fixed;
//     z-index: 1;
//     top: 0;
//     left: 0;
//     background-color: $nav-bg;
//     overflow-x: hidden;
//     padding-top: 60px;
    
//     .navLinkSmall{
//         padding: 8px 8px 8px 32px;
//         text-decoration: none;
//         font-size: 25px;
//         color: $gray;
//         display: block;
//     }
//     .navLink{
//         display: none;
//     }

// }

// .left-nav:hover {
//     width: 300px;

//     .navLinkSmall{
//         display: none;
//     }
//     .navLink{
//         padding: 8px 8px 8px 32px;
//         text-decoration: none;
//         font-size: 25px;
//         color: $gray;
//         display: block;
//     }
// }

// .top-nav{
//     padding-left: 100px;
//     padding-right: 20px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     display: flex;
//     justify-content: space-between;
//     background-color: $nav-bg;
//     color: $gray;
//     position: sticky;
//     top: 0; 
// }

// .left-nav:hover + .top-nav {
//     padding-left: 320px;
// }

// .content {
//     padding-left: 100px;
//     padding-top: 10px;
//     background-color: $gray;
//     height: 100%;
// }

// .left-nav:hover ~ .content{
//     padding-left: 320px;
// }

// h2 {
//     padding-left: 50px;
//     padding-top: 25px;
// }

// .graph {
//     background-color: $light;
//     margin-left: 50px;
//     margin-right: 70px;
//     margin-top: 25px;
//     margin-bottom: 25px;
//     padding: 10px;
//     text-align: center;
// }

// .not-selected {
//     fill: $blue-hl;
// }

// .selection {
//     fill: $blue-hl;
// }

// .change-pos {
//     fill: $change-increase;
//     transition: 0.3s;
// }

// .change-neg {
//     fill: $change-decrease;
//     transition: 0.3s;
// }

// END OF INDEX START NEW //

// Font Imports

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

// Main colour scheme:

$bg: #1b2139;
$bg-section: #252a45;
$highlight: #4292c6;

// Colours for data:

$data1: #003f5c;
$data2: #2f4b7c;
$data3: #665191;
$data4: #a05195;
$data5: #d45087;
$data6: #f95d6a;
$data7: #ff7c43;
$data8: #ffa600;

*, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: $bg;
}

.graph-section {
    background-color: $bg-section;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 45px;    
}

.tick, .domain {
    stroke: $highlight;
    fill: $highlight;
}

line {
    stroke: $highlight;
}

.axis-label {
    fill: $highlight;
    font-family: 'Montserrat';
    font-weight: bolder;
}

#scatter-to-pie {
    padding-left: 5%;
    padding-bottom: 5%;
    h1{
        font-family: 'Montserrat';
        text-align: center;
        line-height: 100px;
        color: $highlight;
    }
    .wrap {
        display: flex;
    }
    #pieChart {
        margin-left: 10%;
        padding-top: 55px;
    }
}